.logo{ 
    width: 200px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
li{list-style-type: none;}